<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>mruby.wasm</title>
    <style>
      #app {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 600px;

        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js"></script>
    <script>
      var Module = {
        print:  function(text) {
          console.log(text);
        },
        monitorRunDependencies: function(left) {
          if (!left) {
            var onInit = function() {
              // Initialize Plugin System
              Game.Plugin.init()

              // Load Code
              Game.Plugin.execute(`
                interval = 0
                moves = {}

                class Move
                  def initialize(sprite)
                    @sprite = sprite
                    @sprite.x = Random.rand(800)
                    @sprite.y = Random.rand(600)
                    @dir_x = 1 + Random.rand(3)
                    @dir_y = 1 + Random.rand(3)
                  end

                  def update
                    @sprite.x += @dir_x
                    @sprite.y += @dir_y
                    @dir_x = @dir_x * -1 if touch_bound_x?
                    @dir_y = @dir_y * -1 if touch_bound_y?
                  end

                  def touch_bound_x?
                    @sprite.x >= 800 || @sprite.x <= 0
                  end

                  def touch_bound_y?
                    @sprite.y >= 600 || @sprite.y <= 0
                  end
                end

                amount = 1000
                Game.update do |delta|
                  if moves.size <= amount
                    amount.times { |idx| moves[idx] ||= Move.new(Sprite[idx]) }
                  end

                  interval += delta
                  next unless interval >= 1 # 0.001s

                  moves.each { |_, move| move.update }
                  interval = 0
                end
              `)

              // Prepare Assets
              var bannyTexture = PIXI.Texture.from('https://pixijs.io/examples/examples/assets/bunny.png');

              // Setup Game
              const app = new PIXI.Application({
                width: 800, height: 600
              })

              var i = 0;
              var amount = 1000;
              for(i; i < amount; i++) {
                var banny = new PIXI.Sprite(bannyTexture);
                app.stage.addChild(banny); // Show Sprite on Stage
                Game.AddSprite(banny); // Binding to mruby
              }

              document.getElementById('app').appendChild(app.view)

              app.ticker.add(function(deltaTime) {
                Game.Plugin.update(deltaTime);
              })
            }
            if(addOnInit) {
              addOnInit(onInit)
            } else {
              onInit()
            }
          }
        },
      }
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
