<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>mruby.wasm</title>
    <style>
      #app {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 600px;

        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js"></script>
    <script>
      var Module = {
        print:  function(text) {
          console.log(text);
        },
        monitorRunDependencies: function(left) {
          if (!left) {
            // Initialize Plugin System
            Game.Plugin.init()

            // Load Code
            Game.Plugin.execute(`
              interval = 0
              dir_x = 1
              dir_y = 1
              Game.update do |delta|
                interval += delta
                next unless interval >= 1 # 0.001s

                sprite = Sprite[0] # Create JavaScript Proxy
                next if sprite.nil?

                sprite.x += dir_x
                sprite.y += dir_y

                interval = 0

                dir_x = dir_x * -1 if sprite.x >= 800 || sprite.x <= 0
                dir_y = dir_y * -1 if sprite.y >= 600 || sprite.y <= 0
              end
            `)

            // Prepare Assets
            var bannyTexture = PIXI.Texture.from('https://pixijs.io/examples/examples/assets/bunny.png');

            // Setup Game
            const app = new PIXI.Application({
              width: 800, height: 600
            })

            var banny = new PIXI.Sprite(bannyTexture);
            app.stage.addChild(banny);
            Game.AddSprite(banny);

            document.getElementById('app').appendChild(app.view)

            app.ticker.add(function(deltaTime) {
              Game.Plugin.update(deltaTime);
            })
          }
        },
      }
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
