<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>mruby.wasm</title>
    <style>
      #app {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 600px;

        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js"></script>
    <script>
      var Module = {
        print:  function(text) {
          console.log(text);
        },
        monitorRunDependencies: function(left) {
          if (!left) {
            // Initialize Plugin System
            Game.Plugin.init()

            // Load Code
            Game.Plugin.execute(`
              Game.update { puts "Hello World from JS" }
            `)

            // Setup Game
            const app = new PIXI.Application({
              width: 800, height: 600
            })
            document.getElementById('app').appendChild(app.view)

            app.ticker.add(function() {
              Game.Plugin.update();
            })
          }
        },
      }
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
